{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2> SmartAQI </h2>
    <input type="text" id="city" placeholder="Enter city ">

    <label>Age Group:</label>
    <select id="age">
        <option value="Adult">Adult (18-60)</option>
        <option value="Child">Child (<18)</option>
        <option value="Elderly">Elderly (>60)</option>
    </select>

    <label>Health Conditions:</label>
    <select id="health">
        <option value="None">None</option>
        <option value="Asthma">Asthma / Respiratory</option>
        <option value="Heart Issue">Heart Issue</option>
    </select>

   <button id="checkBtn" type="button" onclick="getAQI()">Check Air Quality</button>
</div>

<div class="card" id="resultCard">
    <h1 id="aqi">--</h1>
    <h3 id="risk">Waiting for Input...</h3>
    
    <hr style="border: 0.5px solid rgba(255,255,255,0.1)">
    
    <p><strong>Pollutant Breakdown:</strong></p>
    <p id="impact" style="font-size: 0.9em;"></p>
    
    <p><strong>Personalized Advice:</strong></p>
    <p id="advice" style="font-weight: bold; color: #fff;"></p>

    <canvas id="aqiChart" style="margin-top: 20px;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}